@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --main-color: #664EFF;
}

.light-theme{
    --nav-bg: var(--white);
    --nav-text: var(--black);
    --nav-box-shadow: 0px 0px 15px 0px rgba(110,110,110,0.5);
    --footer-bg: #664EFF;
    --landing-page-bg: var(--white);
    --landing-page-text: var(--black);
    --task-page-bg: #7964fd;
    --task-page-todo: var(--white);
    --task-page-text: var(--black);
    --add-task-icn: #7964fd;
    --modal-bg: var(--white);
    --modal-inputs-bg:#ededed;
    --cancel-icn: var(--black);
    --all-task-icn: #252323;
}

.dark-theme{
    --nav-bg: #3e3e3e;
    --nav-text: var(--white);
    --nav-box-shadow: none;
    --footer-bg: #3e3e3e ;
    --landing-page-bg: #232527;
    --landing-page-text: var(--white);
    --task-page-bg: #232527;
    --task-page-todo: #3e3e3e;
    --task-page-text: var(--white);
    --add-task-icn: #664EFF ;
    --modal-bg: #4e4e4e;
    --modal-inputs-bg:#dcdbdb;
    --cancel-icn: var(--white);
    --all-task-icn: #d1d0d0;

}

