@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}

:root{
    --white: white;
    --black: black;
    --main-color: #664EFF;
    --modal-inputs-bg:#dcdbdb;
}

.light-theme{
    --nav-bg: white;
    --nav-text: black;
    --nav-box-shadow: 0px 0px 15px 0px rgba(110,110,110,0.5);
    --footer-bg: #664EFF;
    --landing-page-bg: white;
    --landing-page-text: black;
    --task-page-bg: #7964fd;
    --task-page-todo: white;
    --task-page-text: black;
    --add-task-icn: #7964fd;
    --modal-bg: white;
    --cancel-icn: black;
}

.dark-theme{
    --nav-bg: #3e3e3e;
    --nav-text: white;
    --nav-box-shadow: none;
    --footer-bg: #3e3e3e ;
    --landing-page-bg: #232527;
    --landing-page-text: white;
    --task-page-bg: #232527;
    --task-page-todo: #3e3e3e;
    --task-page-text: white;
    --add-task-icn: #664EFF ;
    --modal-bg: #4e4e4e;
    --cancel-icn: white;
}

